<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ac.mobile.scls"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- LockScreen Activity -->
        <activity
            android:name="ac.mobile.scls.activity.SCLSActivity"
            android:excludeFromRecents="true"
            android:launchMode="standard"
            android:screenOrientation="portrait" >
        </activity>
        <!-- LockScreen Activity end -->

        <activity
            android:name="ac.mobile.scls.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".service.LockScreenStartService" />
        <service
            android:name=".service.AlwaysOnTopService"
            android:enabled="true"
            android:permission="android.permission.SYSTEM_ALERT_WINDOW" >
            <intent-filter>
                <action android:name=".service" />
            </intent-filter>
        </service>

        <receiver android:name=".service.LockScreenReceiver" >
            <intent-filter>
                <action android:name="android.app.action.PHONE_STATE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>